<!-- <div class="card">
    <div class="card-header">Dealer Details</div>
    <div class="card-body">
      <form [formGroup]="dealerDetailsform">
      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput [matDatepicker]="myDatePicker" placeholder="Enquiry Date" formControlName="enquiryDate">
            <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dealer Outlet</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Sales Officer</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of cars" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Source</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Source Details</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of schools" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ongoing Events</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    </div>
  </div> -->

<div class="card">
  <div class="card-header">
    Prospect Details
  </div>
  <div class="card-body">
    <form [formGroup]="createEnq">
      <div class="row">

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Customer Type</mat-label>
            <mat-select formControlName="customerType">
              <mat-option *ngFor="let customer of customerTypes" [value]="customer.value">
                {{customer.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <mat-select formControlName="title">
              <mat-option *ngFor="let title of titles" [value]="title.value">
                {{title.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="w-100" appearance="outline">
            <input type="text" placeholder="First Name" aria-label="Number" matInput formControlName="firstName"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input type="text" placeholder="Relation" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input type="text" placeholder="Middle Name" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input type="text" placeholder="Last Name" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datePicker" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-2">
        <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Age" value="22">
        </mat-form-field>
      </div>

      <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Mobile Number" value="">
          </mat-form-field>
        </div>

        <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Alternate Mobile Number" value="">
            </mat-form-field>
          </div>
    
          <div class="col-md-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Email">
                    <mat-hint>Demo@gmail.com</mat-hint>
                  </mat-form-field>                
          </div>

          <div class="col-md-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select>
                  <mat-option *ngFor="let country of countries" [value]="country">
                    {{country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field  class="w-100" appearance="outline">  
                  <mat-label>Territory</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let territory of territories" [value]="territory">
                      {{territory}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                  <mat-form-field  class="w-100" appearance="outline">  
                    <mat-label>State</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let state of states" [value]="state">
                        {{state}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-2">
                    <mat-form-field  class="w-100" appearance="outline">  
                      <mat-label>District</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let district of districts" [value]="district">
                          {{district}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                      <mat-form-field  class="w-100" appearance="outline">  
                        <mat-label>Tehsil</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let tehsil of taluka" [value]="tehsil">
                            {{tehsil}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                        <mat-form-field  class="w-100" appearance="outline">  
                          <mat-label>City</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let city of cities" [value]="city">
                              {{city}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-2">
                          <mat-form-field appearance="outline" class="w-100">
                              <input matInput placeholder="Pin Code" value="">
                          </mat-form-field>
                        </div> -->

      </div>
    </form>
  </div>
  <div class="center">
    <button class="btn btn-primary " (click)="onClick()">Click me!</button>

  </div>
</div>